@import "../../styles/mixin";

@import "~taro-ui/dist/style/components/form.scss";

.login-page {
  @include wh(100%, 100%);
  .at-form {
    border: 0;
  }
  form {
    border: 0;
  }
  .at-input::after {
    border: none;
  }
  .split-line {
    margin: 0 24px;
    height: 5px;
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  }
  .at-button::after {
    border: none;
  }
  .at-button {
    margin-top: 20px;
    width: 80%;
    border: 0;
    background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
    color: #fff;
    button {
      border: none;
      outline: none;
    }
  }
  .change-type {
    color: #333;
    font-size: 28px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
  }

  .eye {
    width: 45px;
    height: 37px;
    position: absolute;
    right: 45px;
    top: 132px;
    z-index: 10;
    .open {
      width: 100%;
      height: 100%;
    }

    .close {
      width: 123%;
      height: 70%;
    }
  }
}
