.order-page {
  padding: 20px;
  .order-title {
    font-weight: 600;
    color: #333;
    padding: 0px 20px;
  }
  .order-item {
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 0;
    margin: 20px 0;
    position: relative;
  }
  .order-status {
    position: absolute;
    right: 20px;
    color: #fc392d;
    font-weight: 500;
  }
  .opt-bar:after {
    content: " ";
    height: 0;
    display: block;
    clear: both;
  }
  .opt-bar {
    padding: 0 20px 10px;
  }
  .opt-btn {
    margin-left: 20px;
    color: #5584ff;
    float: right;
  }
}
