.user-info {
  .edit-btn {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .title {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
  }
  .show {
    margin-top: 50px;
  }
  .info-item {
    margin: 20px;
  }
}
