@import "../../styles/mixin";

.user-page {
  @include wh(100%, 100%);
  padding: 0 45px;
  box-sizing: border-box;
  .taro-img,
  image {
    height: 100%;
  }
  .user-head {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .at-avatar {
      width: 200px;
      height: 200px;
    }
  }
  .user-name {
    font-size: 50px;
  }

  .at-button {
    border-color: #333;
    width: 300px;
    margin-bottom: 20px;
  }
  .at-icon {
    margin-right: 10px;
  }
}
