.homepage-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .homepage-carousel {
    width: 100%;
    height: 40vw;
    background-color: aqua;
    .carousel-image {
      object-fit: cover;
      width: 100%;
    height: 100%;
    }
  }
  .carousel-indicator-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.625rem;
    height: 1.25rem;
    .carousel-indicator {
      width: 0.625rem;
      height: 0.625rem;
      margin: 0.3125rem;
      border-radius: 50%;
      background-color: #E6E6E6;
      &.active {
        background-color: #ffffff;
      }
    }
  }
  .classify-container {
    width: 100%;
    .classify-title {
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      margin: 0.625rem auto 0.625rem 0.625rem;
    }
    .classify-item-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      .classify-item {
        width: 3.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .classify-image {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.5625rem;
          color: #ffffff;
        }
        & > div {
          text-align: center;
          margin-top: 0.625rem;
          font-size: 0.75rem;
          color: #333333;
        }
      }
    }
  }
  .goods-recommend-container {
    width: 100%;
    .goods-recommend-title {
      font-size: 16px;
      font-weight: 500;
      color: #333333;
      margin: 0.625rem auto 0.625rem 0.625rem;
    }
    .goods-recommend-main {
      display: flex;
      flex-wrap: wrap;
      .goods-recommend-item {
        width: 50%;
        .image {
          display: block;
          width: 9.375rem;
          height: 12.5rem;
          margin: 0.625rem auto;
          object-fit: contain;
        }
        .name {
          padding-left: 0.625rem;
          font-size: 0.75rem;
        }
        .price {
          padding-left: 0.625rem;
          color: #FF3872;
          font-size: 0.875rem;
        }
      }
    }
  }
}